@charset "utf-8";
/* CSS Document */

body{
	color:rgba(26,137,178,0.9);
	background-color: rgba(26,137,178,0.9);
}

img{
	float: left;
	width:20%;
	margin-left: 50px;
}

#alta, #modificar, #index{
	width:55%;
	margin:50px auto 0px auto;
	text-align:center;
	margin-top:4px;
	border:2px solid #CCC;
	border-radius:5px;
	font-family:verdana;
	background-color:#f7f8f3;
}

#texto {
	font-family:oracle;
	font-weight:bold;
	margin-left:50px;
	margin-right:50px;	
}

@font-face{
	font-family: "oracle";
	src:url(ORACLE.TTF);
}

#alta h2, #modificar h2, #index h2 {
	font-family:oracle;
	font-size: 36;
	margin-bottom:30px;
	margin-right:147px;
	margin-top:40px;
}	

#alta form, #modificar form, #index form{
	margin-top:20px;
}

#alta form input[type="text"], #alta form input[type="password"], input[type="number"], input[type="date"], #modificar form input[type="text"], #modificar form input[type="password"], input[type="number"], input[type="date"], #index form input[type="text"], #index form input[type="password"], input[type="number"], input[type="date"]{
	padding:5px;
	border-radius:5px;
	border:1px solid #CCC;
	height:25px;
	font-size:14px;
	width: 300px;
}

 input[type="button"], input[type="submit"], input[type="reset"] {
	width:15%;
	color:#FFF;
	border:2px solid rgba(26,137,178,0.9);
	background-color:rgba(26,137,178,0.9);
	font-size:16px;
	font-weight:bold;
	padding:8px;
	border-radius:5px;
	margin-bottom:30px;
}

table{
	padding:10px;
	margin-left: 150px;
	margin-bottom: 30px;
	border-radius:5px;
	border:1px solid #CCC;
	height:25px;
	font-size:14px;
	border-spacing: 10px;
	border-collapse: collapse;
}

td {
	border:1px solid #CCC;
	padding: 10px;
}

th {
	border:1px solid #CCC;
	padding: 10px;
	background-color:rgba(26,137,178,0.9);
	color: #f7f8f3;
}